.course-page .col-1 {
  border-left: 1px groove #efef;
}

.course-page input,
.course-page textarea {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  border-bottom: 3px solid #4a4a4a;
}

.course-page textarea {
  resize: none;
}

.course-page select {
  outline: none;
  border: none;
  border-radius: 0.2rem;
  border-bottom: 3px solid #4a4a4a;
  padding: 10px 20px;
  cursor: pointer;
}

.course-page .paper-box {
  position: relative;
  border-radius: 0.4rem;
  padding: 10px;
}

.course-page .paper-box .title {
  position: absolute;
  top: -15px;
  padding: 0 6px;
  right: 10px;
}

.course-page .paper-box .level {
  position: absolute;
  top: -15px;
  padding: 0 6px;
  left: 10px;
}
