* {
  font-family: "Almarai", sans-serif !important;
  direction: rtl;
  margin: 0;
  box-sizing: border-box;
}

input {
  padding: 10px 20px;
}

/* Scrollbar Track */
::-webkit-scrollbar {
  width: 3px;
  /* حجم شريط التمرير */
}

/* Scrollbar Thumb (الجزء القابل للسحب) */
::-webkit-scrollbar-thumb {
  background-color: #20313d;
  /* لون الخلفية */
  border-radius: 6px;
  /* شكل الزوايا */
}

/* Scrollbar Track (الجزء الذي لا يمكن السحب) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* لون المسار */
}

.css-15b8vjn-MuiPaper-root-MuiDrawer-paper,
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper,
.css-bpnhhg .MuiDrawer-paper,
.css-1pv7n5u .MuiDrawer-paper {
  right: 0;
  border-left: 1px solid rgb(92 187 249 / 0.2);
  border-right: none !important;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.css-1uc3byb-MuiButtonBase-root-MuiIconButton-root,
.css-p55zm9-MuiButtonBase-root-MuiIconButton-root,
.css-ld94xd {
  margin-right: -12px !important;
  margin-left: 40px !important;
}

.css-1iz4iln {
  left: 0;
}

.css-1l8x3m7-MuiPaper-root-MuiAppBar-root,
.css-1191obr-MuiPaper-root-MuiAppBar-root,
.css-rh22g1-MuiPaper-root-MuiAppBar-root,
.css-13yzmh5-MuiPaper-root-MuiAppBar-root,
.css-10r4mbn,
.css-vwd6ro {
  right: auto;
  left: 0;
  margin-right: 240px;
  margin-left: 0 !important;
}

.css-ntsj15-MuiListItemIcon-root,
.css-wa5fuu-MuiListItemIcon-root,
.css-193yotl,
.css-3wucx {
  margin-left: 24px;
  margin-right: 0 !important;
}

.css-ikuada-MuiDataGrid-root .MuiDataGrid-withBorderColor,
.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar,
.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar
  .MuiTablePagination-actions,
.css-levciy-MuiTablePagination-displayedRows,
.css-wop1k0-MuiDataGrid-footerContainer,
.css-8nphli .MuiTablePagination-actions,
.css-1chpzqh,
.css-9ffb5l,
.css-8nphli {
  direction: ltr;
}

.css-levciy-MuiTablePagination-displayedRows,
.css-1chpzqh {
  margin: 0;
}
